{% extends 'index.html' %}
{% block content %}
<form class="mb-9" method="POST" action="">
  {% csrf_token %}
  <div class="row mt-5">
    <div class="d-flex justify-content-between">
        <h4>Utilisateur</h4>
        
    </div>
  </div>

  <div class="row g-5">
    


    <div class="col-12">
      <div class="card">
        <div class="card-body">

         
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                {% if pk %}Mettre à jour{% else %}Créer{% endif %}
            </button>
       
     
       

         



        </div>
      </div>

    </div>



  </div>
</form>

{% endblock content %}